{% extends 'base.html' %}

{% block title %}Feedback Home{% endblock %}

{% block content %}
<div id="form-container" class="card form-container" style="width: 600px;">
    <div class="card-title">
        <h3 class="card-body">Welcome to FeedbackApp</h3>
    </div>
    <div class="card-body">
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-success" role="alert" id="home-flash">{{ msg }}</div>
        {% endfor %}
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-secondary">Register</a>
    </div>
</div>
{% endblock %}